@{
    ViewBag.Title = "Animation";
}

<h2>Animation</h2>

<div id="contenido">
    <h1>Michoacan</h1>
    <p>
        tzarratracua, parque nacional, volcan paricutin, mariposa monarca, lago de zirahuen, lago de camecuaro, lago de patzcuaro, playa azul
    </p>
</div>

<input type="button" value="Animar" id="animar"/>