<ul>
    <li>
     @Html.ActionLink("Acordeon", "Acordeon")   
    </li>
    <li>
     @Html.ActionLink("Animation", "Animation")   
    </li>
    <li>
     @Html.ActionLink("DatePicker", "DatePicker")   
    </li>
    <li>
     @Html.ActionLink("Autocomplete", "Autocomplete")   
    </li>
</ul>